# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Python tooling
.pytest_cache/
.mypy_cache/
.cache/

# Local data
database/*.json
